@model ScGimpStatsViewModel

@if (Model.NotificationLog != null
  && Model.NotificationLog.Any())
{

    <div>
        <h2>Notification History</h2>
        <p>Last @Model.NotificationLog.Count().ToString() notifications sent by the bot:</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Medium</th>
                    <th scope="col">Type</th>
                    <th scope="col">Content</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.NotificationLog)
                {
                    <tr>
                        <td>@item.CreatedAt.ToString("r")</td>
                        <td>@item.Medium</td>
                        <td>@item.NotificationType</td>
                        <td>
                            <!-- Single button -->
                            <div class="btn-group dropup dropdown-menu-right">
                                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    View <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <div style="padding: 20px; min-width: 250px;">
                                            @if (item.Body.Length < 4000)
                                            {
                                                @Html.Raw(item.Body)
                                            }
                                            else
                                            {
                                                @item.Body
                                            }
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
    <div>
        <h3>Subscribers</h3>
        Total active email subscribers: @Model.TotalActiveEmailSubscribers<br />
        Total active Discord Webhook subscribers: @Model.TotalActiveDiscordWebhookSubscribers
    </div>