@model ScGimpStatsViewModel

<div>
    <h2>Stats</h2>
    Total active email subscribers: @Model.TotalActiveEmailSubscribers<br />
    Total active Discord Webhook subscribers: @Model.TotalActiveDiscordWebhookSubscribers
</div>
@if (Model.NotificationLog != null
  && Model.NotificationLog.Any())
{

    <div>
        <h2>Recent Notifications</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Medium</th>
                    <th scope="col">Type</th>
                    <th scope="col">Content</th>
                    <th scope="col">Total Recipients</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.NotificationLog)
                {
                    <tr>
                        <td>@item.CreatedAt.UtcDateTime.ToString()</td>
                        <td>@item.Medium</td>
                        <td>@item.NotificationType</td>
                        <td>
                            <!-- Single button -->
                            <div class="btn-group dropup dropdown-menu-right">
                                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    View <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <div style="padding: 20px; min-width: 250px;">
                                            @Html.Raw(item.Body)
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>@item.TotalRecipients.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}